@model ReversiMvcApp.Models.Spel

@{
    ViewData["Title"] = "Play";
}

@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://unpkg.com/regenerator-runtime@0.13.1/runtime.js"></script>
<link rel="stylesheet" href="~/css/style.min.css"/>
<script src="~/js/app.js"></script>
}

<div>
    <a asp-action="Index">Terug naar spellen</a>
</div>

<figure class="board"></figure>

<script>
    $(document).ready(function() {
        Game.init(function(){});
    });
</script>

